# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gh-demo
open-source-demo

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Dependency directories (remove the comment below if you want to ignore them)
# vendor/

# GoReleaser
dist/

# IDE specific files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
